@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact-form {
    text-align: center;
    border: 1px solid #0097e6;
    width: 50%;
    padding: 5%;
    border-radius: 20px;
    margin: 50px auto;
}

.child-form input,
.child-form label {
    display: block;
    text-align: left;
    padding: 5px;
}

.child-form input,
.child-form select,
.child-form textarea {
    width: 100%;
    padding: 8px 0;
    border: 1px solid #dcdde1;
    border-radius: 5px;
}
.child-form textarea {
    padding: 6px;
}
.child-form input[type="submit"]{
    width: 30%;
    /* display: block; */
    width: 200px;
    text-align:center;
    /* display: inline-block; */
    background-color: #9c88ff;
    cursor: pointer;
    color: #fff;
}
@media (max-width: 800px) {
    .contact-form {
        width: 98%;
        margin: 1%;
    }
    .child-form input[type="submit"] {
        width: 50%;
    }
    .contact-form {
        border: none;
    }
}